.normal{background: #A8A878;}
.fighting{background: #FC6465;}
.flying{background: #848CCB;}
.posion{background: #B562A3;}
.ground{background: #E9B366;}
.rock{background: #AAA064;}
.bug{background: #97AB40;}
.ghost{background: #846D99;}
.steel{background: #8db4c0;}
.fire{background: #FB7950;}
.water{background: #4FC7DC;}
.grass{background: #79C85C;}
.electric{background: #FCC80D;}
.psychic{background: #FE638C;}
.ice{background: #6FDCD3;}
.dragon{background: #5a67a4;}
.dark{background: #5b4f4f;}
.fairy{background: #ff77ad;}